.contact__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    column-gap: 20px;
  }
}

.contact__item {
  min-width: 225px;
  list-style: none;

  @include vp-1023 {
    display: inline-flex;
    min-width: unset;
  }
}

.contact__link {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  line-height: 18px;
  color: $color-alice-blue;
  transition: opacity $trans-default;

  &--phone {
    padding: 0 0 0 8px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @include vp-1023 {
    padding: 10px;

    span {
      display: none;
    }
  }
}
