.social__list {
  display: flex;
  margin: 0 0 0 10px;
  padding: 5px;

  @include vp-1023 {
    margin: 0 -5px 0 0;
  }

  @include vp-767 {
    margin: 0 0 0 0;
  }
}

.social__item {
  display: inline-flex;

  &:not(:last-child) {
    margin: 0 15px 0 0;
  }
}

.social__link {
  display: inline-flex;
  padding: 5px;
  transition: opacity $trans-default;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
